#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 30px;
}

.YouAreBlack{
  color: white;
}

.YouAreWhite{
  color: black;
}

#blackBoard{
  background-color: black;
}

#whiteBoard{
  background-color: white;
}